div{
	text-align: left;
	margin-left: 300px;
	margin-right: 300px;
	font-family: 'Roboto', sans-serif;
	background-color: azure;
}
img{
	width: 700px;
	height: 500px;
	display: block;
	margin-right: auto;
	margin-bottom: 25px;

}
h1{
	font-size: 36px;
	line-height: 36px;


}
ul{
	text-align: left;
	list-style-position: inside;
	display: inline-block;
}
ol{
	text-align: left;
	list-style-position: inside;
	display: inline-block;
}
h2{
	font-size: 32px;
	line-height: 32px;
}
p{
	font-size: 24px;
	line-height: 32px;
}
li.A{
	margin: 10px;
}
li.B{
	margin: 20px;
}